.container {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    margin: auto;

    width: 100%;
    /* flex-wrap: nowrap; */
  }
}
